/* games */
#calendar-bar {overflow:auto;margin-bottom:15px}
#calendar table {width:100%}

/* game */
.window-box-1 fieldset {margin:0 5px}
.window-box-1 fieldset:disabled {border: 1px solid #bbb;color:#bbb}
.window-box-1 fieldset:disabled * {color:#bbb}

.area-btn-paymill {margin:16px 2px 0}
