#about-table {min-width:700px; margin:100px auto 0}
#about-table td {font-family: source-sans-pro, helvetica, arial, sans-serif; font-size: 15px}
#about-table ul {padding-left: 18px}
.guest-hidden {display:none}
