#controls {background:#f0f0f0;border-radius:5px;padding:10px;white-space:nowrap;text-align:center}
#controls .my-btn {font-size:16px;font-weight:normal;border-radius:5px;padding-bottom:3px;height:31px}
#inp-search {width:50%;background:url('/gfx/si/zoom.png') left no-repeat;background-color:#fff;padding:0 5px 0 23px;font-size:16px;height:28px;color:#444;background-position:4px 5px;box-shadow:inset 0 2px 3px 1px rgba(160,160,160,0.1);outline:none;border-radius:5px}
.item-icon {max-height:75px;border:2px solid transparent;border-radius:4px}
.item-icon:hover {border-color:#4096EE}
#results table {width:100%;display:none;margin-top:20px}
#results table tr td:nth-child(1) {text-align:left}
#results tbody td {cursor:pointer;height:89px}
#results tbody tr:hover td {background:#f0f0ff}
#item-viewer {width:100%;height:100%}
#item-viewer .inline-attachment {display:none}
#filter-area {text-align:left;padding-top:3px}
#filter-area .my-hr {background:#ccc}
#filter-area .show-oos {margin-top:7px}
#filter-area .my-input {width:50px}